body{
	background: gray;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

div #branding{
	color: white;
	font-size: 30px;
	float: left;

}
div #branding:hover{
	cursor: pointer;
	color: blue;
	font-weight: bold;
	border-bottom: cyan 2px solid;
}

header{
	background: brown;
	border-bottom: gold 3px solid;
}

.container{
	margin: auto;
	overflow: hidden;
	width: 90%;

}

ul {
	margin: 0;
}

header li {
	float: left;
	display: inline;
	margin: 15px;

}

header nav {
	float: right;
	padding: 0 20px 0 20px;
	margin-top: 30px;
}

nav a:hover{

border-bottom: gold 2px solid;

}

div a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.main-one{
	background-color: trout;
	padding: 30px;
	
}

section #main-page{
	min-height: 50px;
	font-size: 30px;
	
}

#open-remark{
	color: white;
	font-size: 20px;

}

.newsletter {
font-size: 30px;
color: white;
background: tan;
min-height: 80px;
padding: 0 20px 0 20px;

}

.newsletter form{
float: right;
margin: 30px;

}

.newsletter h5{
float: left;

}

#main-col{
	float: left;
	width: 60%;
}

#others{
	float: right;
	width: 30%;
}

#dark{
	color: blue;
	background: white;
}

.main{
	text-align: justify;
}